.card {
    display: inline-block;
    position: relative;

    .badge {
        width: 125px;
        height: 30px;
        background-color: red;
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 10%;
        right: 0;
    }

    .title {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        background: linear-gradient(0deg, rgba(206, 15, 15, 0.5) 0%, rgba(0, 0, 0, 1) 80%);
    }
}