<div class="container menu-bar">
    <nav>
        <a href=""><img
                src="https://scontent.fpmw3-1.fna.fbcdn.net/v/t1.18169-1/1982342_608820749239806_6649304099267058796_n.jpg?stp=dst-jpg_p160x160&_nc_cat=111&ccb=1-7&_nc_sid=dbb9e7&_nc_ohc=tDELwf0RIp8AX9fZB2d&_nc_oc=AQnQdR-2MYrQ9Ky17lwyKmNpTe7gDTv2UDbTMyEfRGyEvZkSo6nDfOpAdDF5bSF0YvI&_nc_ht=scontent.fpmw3-1.fna&oh=00_AfCpFZq9mpMqwfG13vqtolcdkE1eXx-0NbeB4IHRYfe_dw&oe=654DFD89"
                alt="">
        </a>
        <a href="https://github.com/nilvanlopes">Github</a>
        <a href="https://www.linkedin.com/in/nilvan-lopes/">Linkedin</a>
    </nav>
</div>