@media(max-width:1200px) {
    .s-hero text {
        max-width: 49%;
    }

    .s-card-featured .all-cards {
        width: 100%;
    }

    .s-card-featured .all-cards .card {
        width: 32%;
    }

    .s-card-featured .secondary-area .all-icons {
        gap: 2rem 2%;
    }

    .s-card-featured .secondary-area .all-icons .image {
        width: 23.5%;
    }

    footer main nav {
        max-width: 63rem;
    }
}

@media(max-width:991px) {
    header nav {
        display: none;
    }

    header .menu-mobile {
        display: block;
    }

    .s-hero .container {
        flex-direction: column;
    }

    .s-hero .text {
        display: flex;
        max-width: 100%;
        margin-bottom: 40px;
        flex-direction: column;
        align-items: center;
    }

    .s-hero h1, p {
        text-align: center;
    }


    .s-card-featured .all-cards {
        flex-direction: column;
    }

    .s-card-featured .all-cards .card {
        width: 100%;
        max-width: 100%;
        height: auto;
        padding: 3rem;
        margin-bottom: 2rem;
    }

    .s-card-featured .all-cards .card:last-child {
        margin-bottom: 0px;
    }

    footer main nav {
        max-width: 45rem;
    }

}

@media(max-width:768px) {
    footer main {
        flex-direction: column;
        align-items: center;
    }

    footer main .area-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 4rem;
    }

    footer main .area-left p {
        text-align: center;
    }

    footer main nav {
        max-width: 100%;
    }
}

@media(max-width:600px) {
    .s-card-featured .secondary-area .top {
        flex-direction: column;
        align-items: center;
    }

    .s-card-featured .secondary-area .top h2 {
        text-align: center;
        margin-bottom: 0.8rem;
    }

    .s-card-featured .secondary-area .top p {
        text-align: center;
        margin-bottom: 2rem;
    }


    @media(max-width:480px) {
        html {
            font-size: 55%;
        }

        header .logo {
            max-width: 130px;
        }

        .s-hero {
            padding: 4rem 0px;
        }

        h1 {
            font-size: 4.2rem;
        }

        .s-hero .image {
            height: 30rem;
        }

        .s-hero .image img {
            min-width: 10rem;
        }

        .s-card-featured {
            padding: 4rem 0;
        }

        .s-card-featured .main-area {
            padding-bottom: 4rem;
        }

        .s-card-featured .title p {
            text-align: center;
            min-width: 80%;
        }

        .s-card-featured .secondary-area {
            margin-top: 4rem;
        }

        .s-card-featured .secondary-area .top {
            margin-bottom: 3rem;
        }

        .s-card-featured .secondary-area .all-icons {
            gap: .5rem 2%;
        }

        .s-card-featured .secondary-area .all-icons .image {
            width: 49%;
        }

        .s-newsletter {
            padding: 4rem 0;
        }

        footer {
            padding: 4rem 0;
        }

        footer .copy {
            flex-direction: column;
        }

        footer .copy p {
            margin-bottom: 2rem;
        }
    }
}