.big-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.big-card .image img {
    max-width: 550px;

}

.big-card .image {
    max-height: 400px;
    border-top-left-radius: 1%;
    border-top-right-radius: 1%;
    overflow: hidden;
}

.big-card .image p {
    color: grey;
    font-size: .8rem;
}

.big-card .manchete {
    max-width: 550px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.big-card .manchete h2 {
    color: white;
}

.big-card .manchete p {
    color: grey;
}