.articles {
    display: flex;
    gap: 20px;
    height: 500px;
    margin-top: 20px;
}

.main-article {
    height: 100%;
}

.others-article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}