<app-menu-bar></app-menu-bar>
<app-menu-title></app-menu-title>
<div class="container articles">
    <div class="main-article">
        <app-big-card
            coverPhoto="https://user-images.githubusercontent.com/28903634/261061832-22884495-72c8-457c-961a-33ff3db8d88e.png"
            title="Site do RPG Vampiro a Máscara Editável" author="pyu"
            description="Um site do RPG de Vampire The masquerade, totalmente editável, com funções de salvar no localstorage exportare importar o arquivo de ficha em formato json. Desenvolvido utilizando HTML, SASS e JavaScript "
            date="13/10/2023"></app-big-card>
    </div>
    <div class="others-article">
        <app-small-card
            coverPhoto="https://user-images.githubusercontent.com/28903634/237503238-58349729-f925-4bcd-81c8-de5bbd5f4789.gif"
            title="Projeto de Curso - Landing Page Hostinger" author="pyu"
            description="Um site do feito estudando pelo ótimo curso Método CodeBoost. Desenvolvido utilizando HTML, Sass e JavaScript com foco em estudar estilização"
            date="13/10/2023"></app-small-card>
        <app-small-card></app-small-card>
        <app-small-card></app-small-card>
    </div>
</div>